langchain_classic~=1.0.0
langchain-community~=0.4.1
langchain-core~=1.1.0
langchain-openai~=1.1.0
dotenv~=0.9.9
python-dotenv~=1.2.1
neo4j~=5.28.2
retry~=0.9.2
numpy~=2.3.5
chatbot_api~=0.1
pydantic~=2.12.5
asyncio~=4.0.0
fastapi~=0.123.10
requests~=2.32.5
httpx~=0.28.1
streamlit~=1.52.1